@model IEnumerable<EventManagementApplication.Entities.Concrete.Event>

<!-- Owl Carousel CSS -->
<link href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Owl Carousel JS -->
<script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>


<div class="container">
    <h3><strong>Newly Event List</strong></h3>
    <div class="owl-carousel owl-theme mt-4">
        @foreach (var item in Model)
        {
            <a href="/Event/EventSingle/@item.Id" style="color:#394867">
                <div class="event-card">
                    <img src="@item.Image" style="width:350px; height:250px;" alt="@item.Title">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.SubContent</p>
                    </div>
                </div>
            </a>
        }
        
    </div>
</div>


<!-- Custom JS -->
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            },
            navText: ['<span class="owl-slider-icons">&lt;</span>', '<span class="owl-slider-icons">&gt;</span>']
        });
    });
</script>


