@{
    ViewData["Title"] = "FinishedEventViewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="dashboard section">
    <div class="container-fluid">
        <div class="row">
           
            @await Component.InvokeAsync("UserDashboard")
            @await Component.InvokeAsync("FinishedEventList")
        </div>
    </div>
</section>