
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddRole</h1>

<form method="post" asp-controller="Role" asp-action="AddRole">
    <div>
        <label>Role:</label>
        <input type="text" name="Role" />
    </div>
    <button type="submit">Add Role</button>
</form>