
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateRole</h1>


<form method="post" asp-controller="Role" asp-action="UpdateRole">
    <div>
        <label>Role:</label>
        <input type="text" name="Role" />
    </div>
    <button type="submit">Update Role</button>
</form>