@{
    ViewData["Title"] = "UpdateUserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateUserDetail</h1>

<form method="post" asp-controller="UserDetail" asp-action="AddUserDetail">
    <div>
        <label>Profile Image Path:</label>
        <input type="text" name="ProfileImagePath" />
    </div>
    <div>
        <label>Phone Number:</label>
        <input type="text" name="PhoneNumber" required />
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" name="FirstName" required />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="LastName" required />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="Email" required />
    </div>
    <button type="submit">Update User Detail</button>
</form>