@model EventManagementApplication.Entities.Concrete.User


<div class="col-lg-3 col-md-4 col-12">
    <!-- Start Dashboard Sidebar -->
    <div class="dashboard-sidebar">
        <div class="user-image">
            <img src="/images/profil.png" style="width:50px; height:50px;" alt="#">
            <p>
                @Model.FirstName @Model.LastName
                <span style="font-size:12px">@Model.Mail</span>
            </p>
        </div>
        <div class="dashboard-menu">
            <ul>
                <li><a href="/User/UserDashboard"><i class="lni lni-dashboard"></i> Dashboard</a></li>
                <li>
                    <a href="/User/ProfileSettings">
                        <i class="lni lni-pencil-alt"></i>
                        Edit Profile
                    </a>
                </li>
                <li><a href="/Event/MyEventViewUser"><i class="lni lni-bolt-alt"></i> My Events</a></li>
                <li><a href="/Event/AcceptedEventViewUser"><i class="lni lni-bolt-alt"></i> Accepted Events</a></li>
                <li><a href="/Event/FinishedEventViewUser"><i class="lni lni-bolt-alt"></i> Finished Events</a></li>
                <li><a href="/Invitation/InvitationList"><i class="lni lni-heart"></i> My Invitations</a></li>

            </ul>
            <div class="button">
                <a class="btn" href="javascript:void(0)">Logout</a>
            </div>
        </div>
    </div>
    <!-- Start Dashboard Sidebar -->
</div>
