@model EventManagementApplication.Entities.Concrete.User


<div class="col-lg-3 col-md-4 col-12">
    <!-- Start Dashboard Sidebar -->
    <div class="dashboard-sidebar">
        <div class="user-image">
            <img src="https://via.placeholder.com/300x300" alt="#">
            <h3>
                @Model.FirstName @Model.LastName
                <span>@Model.Mail</span>
            </h3>
        </div>
        <div class="dashboard-menu">
            <ul>
                <li><a href="UserDashboard"><i class="lni lni-dashboard"></i> Dashboard</a></li>
                <li>
                    <a class="active" href="/User/ProfileSettings">
                        <i class="lni lni-pencil-alt"></i>
                        Edit Profile
                    </a>
                </li>
                <li><a href="/Event/AcceptedEventList"><i class="lni lni-bolt-alt"></i> My Events</a></li>
                <li><a href="/Invitation/InvitationList"><i class="lni lni-heart"></i> My Invitations</a></li>

            </ul>
            <div class="button">
                <a class="btn" href="javascript:void(0)">Logout</a>
            </div>
        </div>
    </div>
    <!-- Start Dashboard Sidebar -->
</div>