@{
    ViewData["Title"] = "Home Page";
}


<!-- Hero section -->
<div class="py-5" style="background-color: #08618d;">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-6 pb-3">
                <h1 class="display-2"><strong>New Events</strong></h1>
                <br/>
                <p>
                     Here you will be able to see the currents and 
                     new incoming events
                </p>
                <br />
                <form class="d-flex" action="/Events">
                    <input class="form-control me-2" name="search" placeholder="Search for event" >
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-6">
                <img src="/images/eventiamgesvol2.png" class="img-fluid rounded" alt="">

            </div>
        </div>
    </div>
</div>
<!-- Newest Event Section -->
<div class="py-5">
    <div class="container">
    <h1 class="pb-5 text-center display-5"><strong>Newest Events</strong></h1>
    <div class="row">

    </div>
    </div>
</h1>