@{
    ViewData["Title"] = "Home Page";
}


@await Component.InvokeAsync("NewlyEventList")





<div class="py-5 mt-5" >
    <div class="container text-white">
        <div class="row">
            <div class="col-md-6 pb-3">
                <h3 class=" text-dark"><strong>New Events</strong></h3>
                <br />
                <p class="text-dark">
                    Here you will be able to see the currents and
                    new incoming events
                </p>
                <br />
               
            </div>
            <div class="col-md-6">
                <img src="/images/eventiamgesvol2.png" class="img-fluid rounded" alt="">

            </div>
        </div>
    </div>
</div>



