@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="dashboard section">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("UserDashboard")
            @await Component.InvokeAsync("ActivityLog")
        </div>
    </div>
</section>
