
@{
    ViewData["Title"] = "InvitationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section class="dashboard section">
    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("UserDashboard")
            <div class="col-lg-3 col-md-4 col-12">
                <div class="sidebar-right-text">
                    @await Component.InvokeAsync("InvitationList")
                </div>
            </div>
        </div>
    </div>
</section>

