@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

<form method="post" asp-controller="UserDetail" asp-action="ForgotPassword">
    <div>
        <label>Email:</label>
        <input type="text" name="Email" />
    </div>
    <button type="submit">Submit</button>
</form>
