@model IEnumerable<EventManagementApplication.Entities.Concrete.Notification>

<div class="col-lg-6 col-md-12 col-12">
    <!-- Start Activity Log -->
    <div class="activity-log dashboard-block">
        <h3 class="block-title">Invitation Notifications</h3>
        <ul>
      @foreach (var item in Model)
            {
                <li>
                    <div class="log-icon">
                        <i class="lni lni-alarm"></i>
                    </div>
                    <a href="/Invitation/InvitationDetails/@item.Id" class="title">@item.Invitation.Title!</a>
                    <span class="time">@item.CreatedDate</span>
                    <span class="remove"><a href="/Notification/DeleteNotification"><i class="lni lni-close"></i></a></span>
                </li>
            }
            
        </ul>
    </div>
    <!-- End Activity Log -->
</div>