<div class="container-fluid text-center">
    <h1>Finished Event List</h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-title">Event</div>
                <div class="card-text">You have been invited to the event "Event Title 1" by User 1.</div>
                <div class="card-footer">
                    <div class="text-muted">Event Date: 2023-07-30</div>

                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Yeni satır ekleyerek diğer kartı ortada listelemek için -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-title">Event</div>
                <div class="card-text">You have been invited to the event "Event Title 2" by User 2.</div>
                <div class="card-footer">
                    <div class="text-muted">Event Date: 2023-08-10</div>

                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .card {
        margin-bottom: 20px;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>